$breakpoint: 1000px;

.listing-page-header {
    background-color: $charcoalLight;
    @include fluid(padding-bottom, 64px, 80px);
    @include fluid(padding-top, 64px, 80px);

    &__wrapper {
        position: relative;

        &--sidebar {
            @include contentContainer;

            @media (min-width: $breakpoint) {
                display: grid;
                grid-template-columns: 320px minmax(0, 1fr);
            }
        }

        &--no-sidebar {
            @include contentContainerInterior;
        }
    }

    &__breadcrumb {
        display: none;

        @media (min-width: $breakpoint) {
            display: flex;
            margin-bottom: 32px;
        }
    }

    &__title {
        @include headline1;
        color: white;
    }

    &__featured {
        flex: 1;
    }
}
