<div class="giving-form"
     data-cy="giving-form">
    {% if fields.showHeading|default %}
        <h2 class="giving-form__header
            {{ fields.showHeading ? '' : 'giving-form__header--is-hidden'}}"
            id="{{ fields.heading|sanitize }}"
            data-cy="giving-form__header"
            {{ fields.showHeading ? 'data-show-heading="true"' : 'data-show-heading="false"'}}>
            {{ fields.heading }}
        </h2>
    {% endif %}
    <div class="giving-form__form">
        {{ content }}
        {% for item in fields.innerBlocks.funds  %}
            {% include 'partials/fund/fund.twig' with item %}
        {% endfor %}
    </div>
</div>
