.giving-form {
    @include componentWithMargin;

    &__header {
        @include headline1;
        margin-bottom: 32px;

        &--is-hidden {
            @include visually-hidden;
        }
    }

    &__submit-button {
        margin-top: 48px;
    }
}
