.topic-block {
    @include componentWithMargin;
    position: relative;

    &__heading {
        @include headline2;
        margin-bottom: 8px;
    }

    &--is-hidden {
        @include visually-hidden;
    }

    &__content-container {
        align-items: center;
        display: grid;
        grid-gap: 24px;
        grid-template-areas: "copy";
        grid-template-columns: 1fr;

        &--with-image {
            grid-gap: 0;
            grid-template-areas:
            "image"
            "copy";

            @media (min-width: $largeDeviceBreakpoint) {
                grid-template-areas:"copy image";
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    &__image {
        grid-area: image;
        height: 100%;
    }

    &__copy-container {
        grid-area: copy;
        padding: 24px;
        @media (min-width: $largeDeviceBreakpoint) {
            padding: 32px;
        }
    }

    &__description {
        @include secondaryParagraph;

        & a {
            @include hypertext;
        }

        & em {
            font-style: italic;
        }

        & strong {
            font-weight: 500;
        }
    }

    &__button {
        margin-top: 24px;
    }
}
