<div class="topic-block">
    <div class="topic-block__content-container {{ fields.image.url|default(false) ? 'topic-block__content-container--with-image' }}">

        <div class="topic-block__copy-wrapper">
            <h2 class="topic-block__heading {{ fields.hide_heading ? 'topic-block__heading--is-hidden' : '' }}">
                {{ fields.heading }}
            </h2>
            {% if fields.description %}
                <div class="topic-block__description">
                    {{ fields.description }}
                </div>
            {% endif %}
            {% if fields.showCTALink %}
                <div class="topic-block__button"
                     data-cy="topic-block__button"
                    {{ fields.showCTALink ? 'data-show-cta="true"' : 'data-show-cta="false"'}}>
                    {% include 'bits/standard-button/standard-button.twig' with {
                        button: {
                            text: fields.linkText,
                            url: fields.linkUrl
                        }
                    } %}
                </div>
            {% endif %}
        </div>
        <div class="topic-block__image-wrapper  {{ fields.showImage ? 'data-show-image="true"' : 'data-show-image="false"'}}">
            {% if fields.showImage | default %}
                <picture class="topic-block__picture">
                    <source srcset="{{ fields.image.url | resize(432, 272) | towebp }}" type="image/webp">
                    <source srcset="{{ fields.image.url | resize(432, 272) | tojpg }}" type="image/jpeg">
                    <img class="topic-block__image" src="{{ fields.image.url ?: 'https://via.placeholder.com/432x272' }}"
                         width="432" height="272" alt='{{ fields.image_alt_text ?: 'Alt text' }}'/>
                </picture>
            {% endif %}
        </div>
    </div>
</div>
