@mixin contentContainer {
    padding-left: $contentPaddingSmall;
    padding-right: $contentPaddingSmall;
    @media (min-width: 31.25rem) {
        padding-left: $contentPaddingLarge;
        padding-right: $contentPaddingLarge;
        max-width: $maxContentWidth + $contentPaddingLarge + $contentPaddingLarge;
        margin: auto;
    }
}

@mixin contentContainerInterior {
    padding-left: $contentPaddingSmall;
    padding-right: $contentPaddingSmall;
    @media (min-width: 31.25rem) {
        padding-left: $contentPaddingLarge;
        padding-right: $contentPaddingLarge;
        max-width: $maxContentWidthInterior + $contentPaddingLarge + $contentPaddingLarge;
        margin: auto;
    }
}

@mixin componentWithMargin {
    @include fluid('margin-top', 5rem, 7rem);
}
