//Future enhancements: add font-range, @include fluid line height;
$extraBold: 800;

:root {
    --unorderedListBulletColor: #{$charcoal};
    --orderedListNumberColor: #{$charcoal};
    --hypertextBackgroundColorActive: transparent;
    --hypertextBorderBottomColor: #{$charcoal};
    --hypertextColor: #{$charcoal};
    --hypertextColorActive: #{$charcoal};
}

/*  --------- Title --------- */
@mixin titleBase {
    color: black;
    font-family: $raleway;
    font-weight: $extraBold;
    line-height: 1.2;
}

@mixin billboardTitle {
    @include titleBase;
    @include fluid(font-size, 2.5rem, 6rem);
}

@mixin primaryTitle {
    @include titleBase;
    @include fluid(font-size, 3rem, 4.5rem);
}

@mixin secondaryTitle {
    @include titleBase;
    @include fluid(font-size, 2.5rem, 3.5rem);
}

@mixin tertiaryTitle {
    @include titleBase;
    @include fluid(font-size, 2rem, 3rem);
}

/*  --------- Headline --------- */

@mixin headlineBase {
    color: $charcoal;
}

@mixin headline1 {
    @include headlineBase;
    font-family: $raleway;
    font-weight: 800;
    @include fluid(font-size, 3rem, 4rem);
}

@mixin headline2 {
    @include headlineBase;
    font-family: $raleway;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.25;
}

@mixin headline3 {
    @include headlineBase;
    font-family: $sourceSansPro;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3;
}

@mixin headline4 {
    @include headlineBase;
    font-family: $raleway;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.3;
    text-transform: uppercase;
}
@mixin headline5 {
    @include headlineBase;
    font-family: $sourceSansPro;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2;
}

@mixin headline6 {
    @include headlineBase;
    font-family: $sourceSansPro;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
}

/*  --------- Link headline --------- */

@mixin linkHeadlineBase {
    font-family: $sourceSansPro;
    font-weight: 700;
}

@mixin linkHeadline3 {
    @include linkHeadlineBase;
    font-size: 1.5rem;
    line-height: 1.33;
}

@mixin linkHeadline5 {
    @include linkHeadlineBase;
    font-size: 1.25rem;
    line-height: 1.4;
}

@mixin linkHeadline6 {
    @include linkHeadlineBase;
    font-size: 1rem;
    line-height: 1.5;
}

/*  --------- Link --------- */

@mixin linkBase {
    @include titleBase;
    font-family: $sourceSansPro;
}

@mixin linkLarge {
    @include linkBase;
    font-size: 1.5rem;
    font-weight: 400;
}

@mixin linkSmall {
    @include linkBase;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

/*  --------- Body text --------- */

@mixin bodyBase {
    font-family: $sourceSansPro;
}

@mixin body {
    @include bodyBase;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
}

@mixin bodyLarge {
    @include bodyBase;
    font-size: 1.5rem;
}

@mixin bodySmall {
    @include bodyBase;
    font-size: 1rem;
}

@mixin secondaryParagraph {
    @include bodySmall;
}

@mixin detail {
    @include bodyBase;
    color: $grayDarkest;
}

/*  --------- Label --------- */

@mixin labelBase {
    font-family: $raleway;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@mixin label {
    @include labelBase;
    font-size: 1rem;
    line-height: 1.5;
}

@mixin labelSmall {
    @include labelBase;
    font-size: 0.875rem;
    line-height: 1.43;
}

/*  --------- Rich text --------- */

@mixin headlineSpace {
    margin-bottom: 0.5em;
    &:not(:first-child) {
        margin-top: 1em;
    }
}

@mixin unorderedListBullet {
    content: "\2022";
    color: var(--unorderedListBulletColor);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

@mixin orderedListNumber {
    content: counter(counter) ". ";
    color: var(--orderedListNumberColor);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

@mixin hypertext {
    border-bottom: 1px solid var(--hypertextBorderBottomColor);
    color: var(--hypertextColor);
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s;

    &:focus,
    &:hover,
    &:active {
        background-color: var(--hypertextBackgroundColorActive);
        color: var(--hypertextColorActive);
    }

    &--dark {
        color: white;
    }
}

@mixin richText {
    & h2 {
        @include headline2;
        margin-bottom: 0.5em;
    }

    & h3 {
        @include headline3;
        @include headlineSpace;
    }

    & h4 {
        @include headline4;
        @include headlineSpace;
    }

    & h5 {
        @include headline5;
        @include headlineSpace;
    }

    & h6 {
        @include headline6;
        @include headlineSpace;
    }

    & p,
    & ul,
    & ol {
        @include bodyBase;
        margin-bottom: 1.2em;
    }
    & ul {
        margin-left: 1.5em;

        & > li {
            &::before {
                @include unorderedListBullet;
            }
        }
    }

    & ol {
        counter-reset: counter;
        margin-left: 1.5em;

        & > li {
            counter-increment: counter;

            &::before {
                @include orderedListNumber;
            }
        }
    }

    & li {
        & > ul,
        & > ol {
            margin-bottom: 0;
        }
    }
    & a {
        @include hypertext;
    }
    & em {
        font-style: italic;
    }
    & strong {
        font-weight: 600;
    }
}

@mixin eyebrowPill {
    @include secondaryParagraph;
    background-color: $smoke;
    border-radius: 3.125rem;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    text-decoration: none;
    transition: all 0.3s;
}
