/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-display: swap;
}

/* Remove default padding */
ul,
ol {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

// Remove font weights
h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    line-height: 1.5;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    display: block;
    max-width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0.01ms !important;
    }
}

// Pixo's boilerplate reset
* {
    background: none;
    border: 0;
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    margin: 0;
    vertical-align: baseline;

    &::before, &::after {
        box-sizing: inherit;
    }
}

input,
optgroup,
select,
textarea {
    font-size: 1rem;
}

button {
    appearance: none;
    background: transparent;
    border: none;
    display: inline-block;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1;
    margin: 0;
    padding: 0;
}

iframe {
    max-width: 100%;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

main {
    display: block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* https://mobile.twitter.com/LeaVerou/status/1045768279753666562 */
:focus:not(:focus-visible) {
    outline: none;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0s !important;
        scroll-behavior: auto !important;
        transition: none !important;
    }
}
/* Make images inside the picture element always fills the container */
picture img {
    width: 100%;
}
