.header {
    display: flex;
    padding: 1rem 1.5rem;
    position: relative;

    @media (min-width: $breakpointHeaderSmall) {
        padding-top: 2rem;
        padding-bottom: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media (min-width: $breakpointHeaderLarge) {
        @include contentContainer;
        padding: 2rem 3rem;
    }

    &__navigation {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 100%;

        @media (min-width: $breakpointHeaderMedium) {
            justify-content: space-between;
        }
    }

    &__eyebrow-navigation {
        display: flex;
        justify-content: space-between;

        @media (max-width: $breakpointHeaderLarge) {
            display: none;
        }
    }

    &__main-navigation {
        display: flex;
    }

    &__logo {
        display: none;

        @media (min-width: $breakpointHeaderLarge) {
            display: block;
        }

        &--mobile {
            display: block;

            @media (min-width: $breakpointHeaderLarge) {
                display: none;
            }
        }
    }
}
