/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-card {
	zoom: 1;
}

.quote__image-wrapper {
   margin-right: 2rem;
}
