$breakpointSmall: 49rem;
$breakpointLarge: 81.25rem;

.footer {
    --backgroundColor: $white;
    --iconbackgroundColor: $charcoal;
    --listLinkTextColorActive: $charcoal;
    --listLinkTextColor: $charcoal;

    background-color: var(--backgroundColor);
    @include fluid('padding-top', 4rem, 5rem);
    @include fluid('padding-bottom', 4rem, 5rem);

    &__container {
        @include contentContainer;
    }

    &__wrapper {
        @media (min-width: $breakpointSmall) {
            grid-template-columns: 5fr 3fr;

            @supports (display: grid) {
                display: grid;
            }
        }

        @media (min-width: $breakpointLarge) {
            grid-template-columns: 3fr repeat(2, 1fr);
        }
    }

    &__content {
        flex: 3;

        @media (min-width: $breakpointLarge) {
            display: flex;
        }
    }

    &__social {
        flex: 2;
    }

    &__brand {
        margin-bottom: 3rem;

        @media (min-width: $breakpointSmall) {
            flex: 0 0 100%;
        }

        @media (min-width: $breakpointLarge) {
            flex: 1;
        }
    }

    &__contact-address,
    &__links {
        color: $charcoal;
        margin-bottom: 1.5rem;
    }

    &__contact-address {
        color: $charcoal;

        @media (min-width: $breakpointSmall) {
            padding-right: 2rem;
            flex: 1;
        }
    }

    &__contact-phone-and-email {
        @media (min-width: $breakpointSmall) {
            flex: 1;
        }
    }

    &__contact-address,
    &__contact-phone-and-email {
        @include linkSmall;
        margin-bottom: 1.5rem;
        margin-right: 2rem;
        padding-top: 1rem;
        border-top: solid 2px var(--borderColor);

        @media (max-width: $breakpointSmall) {
            margin-right: 0;
        }
    }

    &__links {
        @media (min-width: $breakpointSmall) {
            padding-right: 2rem;
            flex: 1;
        }
    }

    &__label,
    &__copyright {
        @include detail;
    }

    &__contact-phone,
    &__contact-email {
        display: inline-block;
    }

    &__contact-phone {
        margin-bottom: 1.5rem;
    }

    &__information {
        margin-bottom: 3rem;

        @media (min-width: $breakpointSmall) {
            display: flex;
            flex-wrap: wrap;
        }

        @media (min-width: $breakpointLarge) {
            flex: 1;
            align-content: flex-start;
        }
    }

    &__links-list {
        padding-top: 1rem;
        width: 100%;

        @media (max-width: $breakpointLarge) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-bottom: 3rem;
        }
    }

    &__links-list-item:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__links-list-item-link {
        @include hypertext;
        & {
            color: var(--listLinkTextColor);
        }

        &:focus,
        &:hover,
        &:active {
            color: var(--listLinkTextColorActive);
        }
    }
}
