//primary
$navy: #002279;
$aqua: #47CBBF;
$gold: #FEB32B;
$coral: #FC5A5E;

//secondary
$aquaDark: #3bb4a9;

//charcoal
$charcoalDark: #202020;
$charcoal: #303030;
$charcoalLight: #3c3c3c;
$charcoalLighter: #444;
$charcoalLightest: #4e4e4e;

//gray
$gray: #b3b3b3;
$grayDark: #9f9f9f;
$grayDarker: #848484;
$grayDarkest: #6D6D6D;

//smoke
$smoke: #f8f8f8;
$smokeDark: #f2f2f2;
$smokeDarker: #e4e4e4;
$smokeDarkest: #d6d6d6;

//black/white
$black: #000;
$white: #fff;
