$maxContentWidth: 83rem;
$maxContentWidthInterior: 55rem;
$contentPaddingSmall: 1.5rem;
$contentPaddingLarge: ($contentPaddingSmall * 2);
$mediumDeviceBreakpoint: 28.75rem;
$largeDeviceBreakpoint: 50rem;
$mediumCardBreakpoint: 18.125rem;
$breakpointHeaderSmall: 37.5rem;
$breakpointHeaderMedium: 46.875rem;
$breakpointHeaderLarge: 62.5rem;
$iconWidth: 1rem;
