{% extends "templates/base.twig" %}

{% block header %}
        <div class="profile-primary-info">
            <div class="profile-primary-info__name-and-faculty-type">
                <h1 class="profile-primary-info__name">
                    {{ post.prefix }} {{ post.firstName }} {{ post.lastName }}
                </h1>
                {% if post.shouldEnableProfileTypes | default %}
                    <div class="profile-primary-info__faculty-type">
                        {% include 'bits/badge/badge.twig' with {
                            text: post.profileTypeLabel
                        } %}
                    </div>
                {% endif %}
            </div>
            {% if post.titles %}
                <div class="profile-primary-info__titles">
                    {{ post.titles }}
                    {% if post.title2 %}
                        <br>{{ post.title2 }}
                    {% endif %}
                </div>
            {% endif %}
            {% if post.emailAddress or post.phoneNumber %}
                <div class="profile-primary-info__contact">
                    <div class="profile-primary-info__contact-title">
                        Contact
                    </div>
                    {% if post.emailAddress %}
                        <div class="profile-primary-info__contact-email">
                            <a href="mailto:{{ post.emailAddress }}" class="profile-primary-info__contact-email-link">
                                {{ post.emailAddress }}
                            </a>
                        </div>
                    {% endif %}
                    {% if post.phoneNumber %}
                        <div class="profile-primary-info__contact-phone">
                            <a href="tel:{{ post.phoneNumber }}" class="profile-primary-info__contact-phone-link">
                                {{ post.phoneNumber }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <picture class="profile-post__picture">
            <source srcset="{{ post.featuredImage.src | resize(432, 272) | towebp }}" type="image/webp">
            <source srcset="{{ post.featuredImage.src | resize(432, 272) | tojpg }}" type="image/jpeg">
            <img class="profile-post__image" src="{{ post.featuredImage.src ?: 'https://via.placeholder.com/432x272' }}"
                 data-cy="profile-post__image" width="432" height="272"
                 alt='{{ post.featuredImage.altText ?: 'Alt text' }}'/>
        </picture>
    {{ content }}
{% endblock %}

{% block content %}
   {{ post.content }}
{% endblock %}
