.profile-primary-info {
    &__faculty-type {
        display: inline-block;
        margin-top: 6px;
        vertical-align: super;
    }

    &__name {
        @include tertiaryTitle;
        display: inline;
        color: $charcoalLight;
    }

    &__titles {
        @include headline3;
        margin-top: 16px;
    }

    &__contact,
    &__address {
        margin-bottom: 32px;
        margin-top: 32px;
    }

    &__contact-title {
        @include headline5;
        margin-bottom: 4px;
    }

    &__contact-email,
    &__contact-phone {
        margin-bottom: 8px;
    }

    &__contact-email-link,
    &__contact-phone-link,
    &__address-text {
        @include linkLarge;
        font-weight: normal;
        margin-bottom: 8px;
    }

    &__contact-email-link,
    &__contact-phone-link {
        @include hypertext;
    }

    &__address-title {
        @include headline5;
        margin-bottom: 4px;
    }

    .profile-body {
        @include richText;
    }

    .profile {
        &__tag-container {
            margin-bottom: 56px;

            @media (min-width: $mediumDeviceBreakpoint) {
                margin-bottom: 48px;
            }
        }
    }

    &__tag {
        &:not(:last-child) {
            margin-bottom: 8px;
            margin-right: 8px;
        }
    }
}
