@use 'sass:math';
@use 'sass:meta';

@mixin fluid(
    $property,
    $minValue,
    $maxValue,
    $minViewportWidth: 25rem,
    $maxViewportWidth: 68.75rem
) {
    $valueDifference: remove-unit($maxValue - $minValue);
    $viewportWidthDifference: remove-unit(($maxViewportWidth - $minViewportWidth));
    $proportionallyScaledValue: calc($minValue + $valueDifference * ((100vw - $minViewportWidth) / $viewportWidthDifference));

    #{$property}: clamp($minValue, $proportionallyScaledValue, $maxValue);
}

@function remove-unit($number) {
    @if meta.type-of($number) == 'number' and not math.is-unitless($number) {
        @return calc($number / ($number * 0 + 1rem));
    }

    @return $number;
}
