/*
 * Hide element but still remains visible to
 * screen readers.
**/
@mixin invisible {
     clip: rect(1px, 1px, 1px, 1px);
     height: 1px;
     overflow: hidden;
     position: absolute !important;
     width: 1px;
     word-wrap: normal;
}

@mixin invisibleShowFocused {
    @include invisible;
    &:focus {
        clip: auto;
        height: auto;
        overflow: visible;
        position: static !important;
        width: auto;
    }
}

@mixin visually-hidden {
    @include invisible;
}
