.call-to-action {
    --backgroundColor: #{$smoke};

    @include componentWithMargin;
    position: relative;

    &__lead-in-text {
        @include secondaryTitle;
        margin-bottom: 32px;
    }

    &__link-list {
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin-top: 24px;
    }

    &__divider-line {
        background-color: $charcoalDark;
        content: "";
        display: block;
        height: 2px;
        margin-bottom: 8px;
        width: 100%;
    }

    &__list-item {
        padding: 8px 20px 8px 0px;
    }

    &--jumbo {
        &:before {
            background-color: var(--backgroundColor);
            content: '';
            height: 100%;
            position: absolute;
            right: -100vw;
            top: 0;
            width: 100vw;
        }

        &:after {
            background-color: var(--backgroundColor);
            content: '';
            height: 100%;
            position: absolute;
            left: -100vw;
            top: 0;
            width: 100vw;
        }
    }
}
