<div class="call-to-action"
     data-cy="call-to-action">
    <h2 class="call-to-action__lead-in-text"
        data-cy="call-to-action__lead-in-text">
        {{ fields.leadInText }}
    </h2>

    {% if fields.isJumbo|default(false) %}
        {% if fields.showDescription|default(false) %}
            <p class="call-to-action__description"
                data-cy="call-to-action__description"
                {{ fields.description ? 'data-description="true"' : 'data-description="false"'}}>
                {{ fields.description }}
            </p>
        {% endif %}
        <ul class="call-to-action__link-list"
            data-cy="call-to-action__link-list"
            {{ fields.isJumbo ? 'data-is-jumbo="true"' : 'data-is-jumbo="false"'}}>
            {{ content }}
            {% for item in fields.innerBlocks.callToActionList  %}
                {% include 'blocks/link-with-icon/link-with-icon.twig' with item %}
            {% endfor %}
        </ul>
    {% else %}
        <div class="call-to-action__button" data-cy="call-to-action__button"
            {{ fields.isJumbo ? 'data-is-jumbo="true"' : 'data-is-jumbo="false"'}}>
            {% include 'bits/standard-button/standard-button.twig' with {
                button: {
                    text: fields.linkText,
                    url: fields.linkReference,
                }
            } %}
        </div>
    {% endif %}
</div>

