.list-link {
    --iconFillColor: darkOrange;
    --linkColor: #{$charcoalLight};
    --linkColorActive: darkOrange;

    @include linkSmall;
    transition: all 0.3s;
    color: var(--linkColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2px;
    padding: 14px 16px;
    font-weight: 500;
    background-color: white;
    text-decoration: none;

    &:last-of-type {
        margin-bottom: 0;
    }

    &:hover {
        color: var(--linkColorActive);
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__icon {
        line-height: 0;

        & svg path {
            fill: var(--iconFillColor);
        }
    }
}

