<div class="list-link__container">
    <a
        href="{{ fields.linkUrl }}"
        class="list-link"
        {{ (type == 'external' or type == 'file') ? 'target="_blank" rel="noopener"' }}
        {% set onClick %}onClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"{% endset %}
        {{ dialog ? onClick }}
    >
        {{ fields.linkText }}
        {{ fields.linkType }}
        <span class="list-link__icon">{% include 'bits/icons/'~ fields.linkType ~'-link.twig' %}</span>
    </a>
</div>
