.captioned-image {
    --captionColor: #{$grayDarkest};

    &--dark {
        --captionColor: #{$gray};
    }

    & {
        width: 100%;
        height: 100%;
    }

    &__picture {
        width: 100%;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__gallery-image {
        height: 100%;
        width: auto;
    }

    &__image-divider {
        border-bottom: 2px solid orange;
        margin-top: 24px;
    }

    &__caption {
        color: var(--captionColor);
        margin-top: 8px;
    }
}
