<article class="person-card">
    <div class="person-card__image">
        {% block image %}{% endblock %}
    </div>
    <div class="person-card__info-and-related">
        <div class="person-card__info">
            {% block info %}{% endblock %}
        </div>
        <div class="person-card__related">
            {% block related %}{% endblock %}
        </div>
    </div>
</article>
