.person-card {
    --cardBackgroundColor: #{$charcoalLightest};
    display: flex;
    background-color: var(--cardBackgroundColor);
    margin-bottom: 16px;

    &__image {
        display: none;

        @media (min-width: 600px) {
            display: block;
            flex: 0 0 152px;
            height: 192px;
            padding: 24px 0 24px 24px;
        }
    }

    &__info-and-related {
        flex: 1;
        margin: 0;
        padding: 24px;

        @media (min-width: 600px) {
            display: flex;
        }
    }

    &__info {
        flex: 1;
    }

    &__related {
        @media (max-width: 600px) {
            margin-top: 16px;
            margin-left: -10px;
        }
    }
}
