.quick-search {
    --icon-color: #{$charcoal};
    --itemTextColor: #{$charcoal};

    padding-left: 12px;

    &__form {
        align-items: center;
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
    }

    &__icon {
        display: flex;
        margin-left: 8px;

        svg {
            fill: var(--icon-color);
        }
    }

    &__input-label {
        position: absolute;
        z-index: -1;
        left: -100vw;
        font-weight: 800;
    }

    &__input {
        width: 50px;
        transition: all 0.3s;

        &::placeholder {
            color: var(--itemTextColor);
        }

        &:focus {
            width: 200px;
        }
    }

    &__submit {
        @include invisible;
    }

    &--large {
        background-color: white;
        border: 2px solid white;
        border-radius: 8px;
        padding: 10px 20px;
        width: 100%;
    }

    &__input--large {
        font-size: 20px;
        width: 100%;

        &::placeholder {
            color: $charcoal;
        }

        &:focus {
            width: 100%;
        }
    }
}
