.image-block {
    padding-left: 0;

    &__align-right {
        float: right;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 50%;
    }

    &__align-left {
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 50%;
    }

    &__align-full {
        margin-bottom: 20px;
        margin-top: 20px;
        width: 100%;
    }
}
