<div data-cy-block="image-block" class="image-block {{ image.align ? 'image-block__align-' ~ image.align : 'image-block__align-full'}}>
    {% include 'components/image/image.twig' with {
        image: image,
    } %}
</div>
