/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-card {
	zoom: 1;
}


.list-link__container {
    display: flex;
}
