/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-card {
	zoom: 1;
}

.list-link__container {
    display: flex;
}

