{% extends "templates/base.twig" %}

{% block header %}
    {% include 'partials/basic-header/basic-header.twig' %}
{% endblock %}

{% block content %}
    <div class="basic-page__content">
        <div class="basic-page__wrapper {{ (sidebar|default) ? 'basic-page__wrapper--sidebar' : 'basic-page__wrapper--no-sidebar' }}">
            {{ post.content }}
        </div>
    </div>
{% endblock %}
