.basic-page {
    background-color: #{$smoke};

    &__content {
        @include fluid('margin-bottom', 128px, 160px);
        @include fluid('margin-top', 16px, 32px);
    }

    &__wrapper {
        position: relative;

        &--sidebar {
            @include contentContainer;

            @media (min-width: 1000px) {
                display: grid;
                grid-template-columns: 320px minmax(0, 1fr);
            }
        }

        &--no-sidebar {
            @include contentContainerInterior;
        }
    }
}
