<div class="empty-listing-error">
    <div class="empty-listing-error__content">
        <h2 class="empty-listing-error__heading">{{ listingError.heading }}</h2>
        <div class="empty-listing-error__message">{{ listingError.message }}</div>
    </div>
</div>
