.empty-listing-error {
    --backgroundColor: $smoke;
    --textColor: $grayDarkest;

    padding-bottom: 5rem;

    @media (min-width: 50rem) {
        padding-bottom: 8rem;
    }

    &__content {
        @include componentWithMargin;
    }

    &__heading {
        @include headline1;
        color: var(--textColor);
        margin-bottom: 1rem;
    }

    &__message {
        @include detail;
        color: var(--textColor);
    }
}
