$breakpoint: 62.5rem;

.basic-header {
    background: $charcoalLight;
    @include fluid(padding-bottom, 4rem, 5rem);
    @include fluid(padding-top, 4rem, 5rem);

    &__wrapper {
        position: relative;

        &--sidebar {
            @include contentContainer;

            @media (min-width: $breakpoint) {
                display: grid;
                grid-template-columns: 20rem minmax(0, 1fr);
            }
        }

        &--no-sidebar {
            @include contentContainerInterior;
        }
    }

    &__breadcrumbs {
        display: none;

        @media (min-width: 62.5rem) {
            display: flex;
            margin-bottom: 2rem;
        }
    }

    &__title {
        @include headline1;
        color: white;
    }

    &__intro-text {
        @include bodyLarge;
        color: gray;
        margin-bottom: 3rem;
    }

    &__featured-image {
        & .captioned-image__caption {
            font-size: .875rem;
        }
    }
}
