<li class="link-list">
    <h2 class="link-list__list-name"
        data-cy="link-list__list-name"
        id="{{ fields.heading|sanitize }}">{{ fields.heading }}</h2>
    <ul class="link-list__links"
        data-cy="link-list__links">
        {{ content }}
    </ul>
</li>
