.home-header {
    background-color: #{$charcoalLight};
    padding-top: 64px;
    padding-bottom: 64px;

    @media (min-width: $mediumDeviceBreakpoint) {
        padding-top: 128px;
        padding-bottom: 128px;
    }

    @media (min-width: $largeDeviceBreakpoint) {
        padding-top: 160px;
        padding-bottom: 160px;
    }

    &__container {
        @include contentContainerInterior;
        & {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__title {
        @include billboardTitle;
        color: white;
        margin-top: 32px;
        text-align: center;
    }

    &__intro {
        @include bodyLarge;
        color: gray;
        margin-top: 16px;
        text-align: center;
    }

    &__calls-to-action {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 48px;
        @media (min-width: $mediumDeviceBreakpoint) {
            flex-direction: row;
        }
    }
}
