{{ enqueue_script('js/vimeo') }}

<div class="vimeo-embed"
     data-cy="video-embed"
>
    <lite-vimeo
        videoid="{{ fields.oembed.id }}"
        videotitle="{{ fields.oembed.title }}"
    >
        <a class="lite-vimeo-fallback" href="https://vimeo.com/{{ fields.oembed.id }}">Watch on Vimeo: "{{ fields.oembed.title }}"</a>
    </lite-vimeo>
    {% if fields.caption %}
        <figcaption class="vimeo-embed__caption">{{ fields.caption }}</figcaption>
    {% endif %}

</div>
