.profile-mini {
    @include componentWithMargin;

    &__title {
        @include headline1;
        color: $charcoalLight;
        margin-bottom: 48px;
    }

    &__cards-grid {
        margin-bottom: 48px;
    }
}
