<div class="profile-mini">
    {% if fields.showTitle | default %}
        <h2 class="profile-mini__title"
            id="{{ fields.title|sanitize }}">
            {{ fields.title }}
        </h2>
    {% endif %}
    <div class="profile-mini__cards-grid">
        {% for person in fields.profiles %}
            <div class="profile-mini__card">
                {% include 'partials/profile-card/profile-card.twig' %}
            </div>
        {% endfor %}
    </div>
    {% if fields.showCTALink | default %}
        <div class="profile-mini__cta-container" data-cy="profile-mini__cta-container"
            {{ fields.showCTALink ? 'data-show-cta="true"' : 'data-show-cta="false"' }}>
            {% include 'bits/standard-button/standard-button.twig' with {
                button: {
                    text: fields.linkText,
                    url: fields.linkUrl
                }
            } %}
        </div>
    {% endif %}
</div>
