{{ enqueue_script('js/youtube') }}

<figure class="youtube-embed"
    data-cy="youtube-embed"
>
    <lite-youtube
        videoid="{{ fields.oembed.id }}"
        videotitle="{{ fields.oembed.title }}"
        posterloading="lazy"
        posterquality="maxresdefault"
    >
        <a class="lite-youtube-fallback" href="https://www.youtube.com/watch?v={{ fields.oembed.id }}">Watch on YouTube: "{{ fields.oembed.title }}"</a>
    </lite-youtube>
    {% if fields.caption %}
        <figcaption class="youtube-embed__caption">{{ fields.caption }}</figcaption>
    {% endif %}
</figure>
