$smallestBreakpoint: 25rem;
$mediumBreakpoint: 43.75rem;

.taxonomy-filter {
    --backgroundImage: url("data:image/svg+xml;charset=utf8,%3Csvg aria-hidden='true' class='down-toggle-icon' xmlns='http://www.w3.org/2000/svg' width='12' height='6' viewBox='0 0 12 6'%3E%3Cpath class='_mark down-toggle-icon__shape' fill='%23FF552E' fill-rule='evenodd' d='M12 0L6 6 0 0z'/%3E%3C/svg%3E");
    --textColor: #{$grayDarkest};
    --iconFillColor: #{$gold};
    --iconFillColorActive: #{$black};
    --borderColorActive: #{$gold};
    --backgroundColorActive: transparent;
    --textColorActive: #{$black};

    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__container {
        align-items: center;
        display: flex;
    }

    &__input-label {
        @include invisible;
    }

    &__input {
        @include bodyLarge;
        background-color: white;
        border: 2px solid $charcoalLighter;
        border-radius: 6.25rem 0 0 6.25rem;
        color: $charcoalLight;
        padding: 1rem;
        transition: border-color .3s ease;

        @media (max-width: $breakpoint) {
            padding: .625rem 1rem .625rem 1rem;
            @include linkBase;
        }


        &::placeholder {
            color: grey;
            font-weight: normal;
        }

        &:focus {
            border-color: var(--borderColorActive);
            outline: none;

            & ~ .taxonomy-filter__submit {
                border-color: var(--borderColorActive);
            }
        }
    }

    &__submit-icon {
        display: flex;
        grid-area: submit;
        margin-left: auto;
        margin-right: 1.5rem;
        pointer-events: none;

        & .search-icon {
            & .search-icon__shape {
                fill: var(--iconFillColor);
            }
        }

        & path {
            transition: all .3s ease;
        }

        @media (max-width: $breakpoint) {
            margin: 0 1.5rem 0 .875rem;
        }
    }

    &__submit {
        @include linkLarge;
        background-color: $smoke;
        border: 2px solid $charcoalLighter;
        border-left: none;
        border-radius: 0 6.25rem 6.25rem 0;
        color: $charcoalLight;
        cursor: pointer;
        grid-area: submit;
        height: 100%;
        padding: 1rem;
        transition: all .3s ease;

        @media (max-width: $breakpoint) {
            color: transparent;
            padding: 0;
        }

        &:focus,
        &:hover {
            fill: var(--iconFillColorActive);
            background-color: var(--backgroundColorActive);
            color: var(--textColorActive);
            border-color: var(--borderColorActive);
        }

        &:focus + .search-form__submit-icon path,
        &:hover + .search-form__submit-icon path {
            fill: var(--iconFillColorActive);
            background-color: var(--backgroundColorActive);
            color: var(--textColorActive);
            border: var(--borderColorActive);
        }
    }

    &__clear-button {
        cursor: pointer;
        grid-area: input;
        margin-left: auto;
        margin-right: 1rem;

        & .clear-icon {
            & .clear-icon__shape {
                fill: var(--iconFillColor);
            }
        }

        @media (max-width: $breakpoint) {
            display: none;
        }
    }

    &__clear-button-text {
        @include invisible;
    }

    &__clear-button-icon {
        display: flex;
    }

    &__global-taxonomy,
    &__local-taxonomy {
        margin-bottom: .5rem;
        margin-right: 1.5rem;
    }

    &__buttons {
        margin-top: 1.5rem;
        margin-bottom: .5rem;
    }

    &__select-label {
        @include headline5;
        color: var(--textColor);
        display: block;
        padding: 0 .625rem .25rem;
    }

    &__select {
        appearance: none;
        box-sizing: border-box;
        background-color: white;
        background-image: var(--backgroundImage);
        background-repeat: no-repeat;
        background-position: right 9px center;
        border: 2px solid grey;
        border-radius: 0;
        color: $grayDarkest;
        padding: .625rem 2rem .625rem 1rem;
        width: 33vw;

        @media (min-width: $smallestBreakpoint) {
            width: 100%;
        }
    }

    &__select-option {
        @include bodyLarge;
        color: $grayDarkest;
    }
}
