{# {% if is_wordpress %} #}
{#    {{ enqueue_script('taxonomy-filter') }} #}
{# {%  endif  %} #}

<form class="taxonomy-filter" data-taxonomy-filter method="get">
    <div class="taxonomy-filter__container">
        {% if includeSearch | default %}
            <label class="taxonomy-filter__input-label" for="search-input">Search for keywords</label>
            <input class="taxonomy-filter__input" placeholder="Enter search term" type="text" id="search-input"
                   value="{{ search.term }}" name="search"/>
            <button class="taxonomy-filter__clear-button" type="button" role="button"
                    onclick="document.getElementById('search-input').value = '';document.getElementById('search-input').focus();">
                <span class="taxonomy-filter__clear-button-text">
                    Clear input field
                </span>
                <span class="taxonomy-filter__clear-button-icon">
                    {% include 'bits/icons/clear-x.twig' %}
                </span>
            </button>
            <input class="taxonomy-filter__submit" type="submit" id="search-submit" value="Search"/>
            <div class="taxonomy-filter__submit-icon">
                {% include 'bits/icons/search.twig' %}
            </div>
        {% endif %}
        {% if fields.filterByGlobalTaxonomy == false %}
            <div class="taxonomy-filter__global-taxonomy">
                <label class="taxonomy-filter__select-label" for="global-taxonomy-select">Units and Areas</label>
                <select class="taxonomy-filter__select" name="global-taxonomy" id="global-taxonomy-select">
                    <option class="taxonomy-filter__select-option"
                            value="all">All
                    </option>
                    {% for option in fields.globalOptions %}
                        <option class="taxonomy-filter__select-option"
                                value="{{ option.value }}"{{ fields.taxonomies.globalTaxonomy == option.value ? " selected" }}>{{ option.label }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        <div class="taxonomy-filter__local-taxonomy">
            <label class="taxonomy-filter__select-label" for="local-taxonomy-select">Tags</label>
            <select class="taxonomy-filter__select" name="local-taxonomy" id="local-taxonomy-select">
                <option class="taxonomy-filter__select-option"
                        value="all">All
                </option>
                {% for option in fields.localOptions %}
                    <option class="taxonomy-filter__select-option"
                            value="{{ option.value }}"{{ fields.taxonomies.localTaxonomy == option.value ? " selected" }}>{{ option.label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="taxonomy-filter__buttons">
            {% include 'bits/standard-button/standard-button.twig' with {
                button: {
                    type: 'tertiary',
                    isButton: true,
                    buttonType: 'submit',
                    text: 'View',
                }
            } %}
            {% include 'bits/standard-button/standard-button.twig' with {
                button: {
                    type: 'tertiary',
                    isButton: true,
                    buttonType: 'reset',
                    text: 'Clear',
                }
            } %}
        </div>
    </div>
</form>
