{% if button.isButton | default %}
    <button
        type="{{ button.type | default }}"
        {%  if button.ariaLabel | default %}
            aria-label="{{ button.ariaLabel }}"
        {% endif %}
        class="
            standard-button
            standard-button--{{ button.width | default('natural') }}-width
            {{ isActive ? 'standard-button--active' }}
        "
        {{ button.isDisabled ? 'disabled' }}


    >
        <div class="standard-button__container">
            <span class="standard-button__text">
                {{ button.text | trim }}
            </span>
        </div>
    </button>
{% else %}
    <a href="{{ button.url }}"
        {%  if button.ariaLabel | default %}
            aria-label="{{ button.ariaLabel }}"
        {% endif %}
        class="
            standard-button
            standard-button--{{ width | default('natural') }}-width
            {{ isActive ? 'standard-button--active' }}

        "
        {{ button.isDisabled ? 'disabled' }}

    >
        <span class="standard-button__text">
            {{ button.text | trim }}
        </span>

        <span class="standard-button__icon">
            {% include 'bits/icons/right-chevron.twig' %}
        </span>
    </a>
{% endif %}
