.link-lists {
    @include componentWithMargin;

    &__heading {
        @include headline1;
        margin: 16px 0;
    }

    &__description {
        @include bodyLarge;
        margin: 16px 0;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px 32px;
        list-style: none;

        @media (max-width: 640px) {
            grid-template-columns: 1fr;
        }
    }
}
