<div class="link-lists"
    data-cy="link-lists">
    <h2 class="link-lists__heading"
        data-cy="link-lists__heading">
        {{ fields.header }}
    </h2>
    {% if fields.showDescription %}
        <div class="link-lists__description"
             data-cy="link-lists__description">
            {{ fields.description }}
        </div>
    {% endif %}
    <ul class="link-lists__container">
        {{ content }}
    </ul>
</div>
