<figure class="image {{ image.caption ? 'image--with-caption' : '' }}">
        <img
            class="image__image"
            loading="lazy"
            type="image/jpeg"
            src="{{ image.src | towebp }}"
            alt="{{ image.alt ?: '' }}"
            height="{{ image.height }}"
            width="{{ image.width }}">
    {% if image.caption %}
        <figcaption class="image__caption">
            {{ image.caption }}
        </figcaption>
    {% endif %}
</figure>
