{#
/**
 * Block Name: Link Card
 *
 * This is the template that displays a link card
 */
#}

<li class="link-cards__card"
    data-cy="link-cards__card">
    <div class="link-cards__image-wrapper"
        {{ fields.showImage ? 'data-show-image="true"' : 'data-show-image="false"'}}>
        {% if fields.showImage | default %}
            <img class="link-cards__image"
                 src="{{ fields.image.url ?: 'https://via.placeholder.com/432x272' }}"
                 data-cy="link-cards__image" width="432"  height="272"
                 alt='{{ fields.image_alt_text ?: 'Alt text'}}'
            />
        {% endif %}
    </div>
    <div class="link-cards__card-text">
        <h3 class='link-cards__card-heading'>
            <a class="link-cards__link" href="{{ fields.link_reference }}"
                data-cy="link-cards__link">
                {{ fields.link_text ?: 'This is a linked heading' }}
            </a>
        </h3>
        <div class="link-cards__card-description"
             data-cy="link-cards__card-description">
            {{ fields.description ?: 'This is a linked description' }}
        </div>
    </div>
</li>
