.featured-news {
    --dateColor: #{$grayDarkest};
    --summaryColor: #{$grayDarkest};
    --textColor: #{$charcoal};

    &--dark {
        --dateColor: #{$gray};
        --summaryColor: #{$gray};
        --textColor: #{$white};
    }

    &__image {
        margin-bottom: 1.5rem;
    }

    &__title {
        margin-bottom: .5rem;
        margin-top: 2rem;

        a {
            @include headline2;
            color: var(--textColor);
        }
    }

    &__date {
        @include labelSmall;
        color: var(--dateColor);
        margin-bottom: 1rem;
    }

    &__summary {
        @include richText;
        @include bodyLarge;
        color: var(--summaryColor);
    }
}
