.quote {
    --iconFillColor: darkOrange;

    @include componentWithMargin;
    display: flex;
    padding: $contentPaddingSmall;
    position: relative;

    &__icon {
        width: $iconWidth;
        margin-bottom: 16px;

        & svg path {
            fill: var(--iconFillColor);
        }
    }

    &__quote {
        @include headline2;
        margin-bottom: 16px;
    }


    &__attribution {
        @include bodyLarge;
        margin-bottom: 24px;
    }

    &__content-container {
        display: flex;
        flex-direction: column;
    }

    &__image {
        display: none;
        margin-bottom: 24px;

        @media (max-width: $mediumCardBreakpoint) {
            display: flex;
            flex: 0 1 50%;
            left: -1 * $contentPaddingSmall;
            position: relative;
            margin-right: 12px;
            min-width: 200px;
            max-width: 250px;
            max-height: 300px;
        }

        @media (max-width: $largeDeviceBreakpoint) {
            margin-right: 24px;
        }
    }
}
