{#
/**
 * Block Name: Quote
 *
 * This is the template that displays a Quote
 */
#}

<div class="quote"
    data-cy="quote">
    <div class="quote__image-wrapper">
        <picture class="quote__picture">
            <source srcset="{{ fields.image.url | resize(432, 272) | towebp }}" type="image/webp">
            <source srcset="{{ fields.image.url | resize(432, 272) | tojpg }}" type="image/jpeg">
            <img class="quote__image" src="{{ fields.image.url ?: 'https://via.placeholder.com/432x272' }}"
                 data-cy="quote__image" width="432"  height="272" alt='{{ fields.image_alt_text ?: fields.attribution }}'/>
        </picture>
    </div>
    <div class="quote__content-container">
        <div class="quote__icon"> {% include 'bits/icons/quote.twig' %}</div>
        <div class="quote__quote"
            data-cy="quote__quote">
            {{ fields.quoteText }}
        </div>
        <div class="quote__attribution"
            data-cy="quote__attribution">
            {{ fields.attribution }}
        </div>
        {% if fields.showCTALink %}
            <div class="quote__button"
                data-cy="quote__button"
                {{ fields.showCTALink ? 'data-show-cta="true"' : 'data-show-cta="false"'}}>
                {% include 'bits/standard-button/standard-button.twig' with {
                    button: {
                        text: fields.linkText,
                        url: fields.linkUrl
                    }
                } %}
            </div>
        {% endif %}
    </div>
</div>
