<li class="fund">
    <div class="fund__text">
        <p class="fund__name"
            data-cy="fund__name">
            {{ fields.name }}
        </p>
        {% if fields.description | default %}
            <p class="fund__description"
               data-cy="fund__description">
                {{ fields.description }}
            </p>
        {% endif %}
    </div>
    <div
        class="fund__input-wrapper">
        <div class="fund__submit-button"
             data-cy="fund__submit-button"
             data-giving-submit>
            {% include 'bits/standard-button/standard-button.twig' with {
                button: {
                    text: 'Give',
                    ariaLabel: 'Give to ' ~ fields.name,
                    url: fields.givingUrl,
                    icon: 'right-chevron',
                }
            } %}
        </div>
    </div>
</li>
