.fund {
    --fundBackgroundColor: #{$smoke};
    --prefixColor: darkOrange;

    background-color: var(--fundBackgroundColor);
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1.5rem 1rem;

    @media (min-width: $largeDeviceBreakpoint) {
        align-items: center;
        display: flex;
        padding: 2rem;
    }

    &__text {
        margin-bottom: 1.5rem;

        @media (min-width: $largeDeviceBreakpoint) {
            flex: 2 0 0px;
            margin-bottom: 0;
        }
    }

    &__name {
        @include headline3;
        display: block;
        margin-bottom: .5rem;

        &--dark {
            color: $white;
        }
    }

    &__description {
        @include bodyLarge;
    }


    &__input-wrapper {
        position: relative;

        @media (min-width: $largeDeviceBreakpoint) {
            flex: 1 0 0;
            margin-left: 2rem;
        }
    }


    &__input-prefix {
        color: var(--prefixColor);
        font-family: $sourceSansPro;
        font-size: 1.25rem;
        font-weight: 800;
        left: .875rem;
        line-height: 1.4;
        position: absolute;
        top: 1rem;
    }

    &__input {
        background-color: $white;
        border: solid 2px $gray;
        color: $grayDarkest;
        display: block;
        font-family: $sourceSansPro;
        font-size: 1.25rem;
        line-height: 1.4;
        padding: .875rem 1rem .875rem 2.375rem;
        transition: all 0.3s ease;
        width: 100%;

        &:focus {
            border-color: var(--focusBorderColor);
        }
    }
}
