.news-card-content {
    --titleColor: #{$charcoal};
    --detailColor: #{$charcoal};

    padding: 1.5rem;

    &__title {
        @include linkHeadline3;
        color: var(--titleColor);
        margin-bottom: .25rem;
    }

    &__date {
        @include labelSmall;
        color: var(--detailColor);
    }
}
