.breadcrumbs {
    --borderColor: #{$charcoal};
    --currentItemColor: #{$grayDarkest};
    --iconColor: #{$smokeDarkest};
    --textColor: #{$charcoal};

    &--dark {
        --borderColor: #{$white};
        --currentItemColor: #{$gray};
        --iconColor: #{$grayDarkest};
        --textColor: #{$white};
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-right: .5rem;
    }

    &__item-link {
        @include linkSmall;
        border-bottom: 1px solid var(--borderColor);
        color: var(--textColor);
        text-decoration: none;

        &:focus,
        &:hover,
        &:active {
            border-bottom-color: var(--borderColor);
        }
    }

    &__item-current {
        @include bodySmall;
        color: var(--currentItemColor);
    }

    &__separator {
        margin-left: .5rem;
        display: inline-block;
        position: relative;
        top: -1px;

        & svg {
            & .icon-right-triangle__shape {
                fill: var(--iconColor);
            }
        }
    }
}
