{% extends "templates/base.twig" %}

{% block header %}
    {% block summary %}
        {% if is_wordpress %}
            {{ enqueue_script('news-post') }}
        {% endif %}
        <div class="news-post">
            <h1 class="news-post__title">{{ post.title }}</h1>
            <div class="news-post__date">
            </div>
            <section aria-label="Page Summary" class="news-post__summary">
                {{ post.summary }}
            </section>
        </div>
    {% endblock %}
    {% block image %}
        <picture class="news-post__picture">
            <source srcset="{{ post.featuredImage.src | resize(432, 272) | towebp }}" type="image/webp">
            <source srcset="{{ post.featuredImage.src | resize(432, 272) | tojpg }}" type="image/jpeg">
            <img class="news-post__image" src="{{ post.featuredImage.src ?: 'https://via.placeholder.com/432x272' }}"
                 data-cy="news-post__image" width="432" height="272" alt='{{ post.featuredImage.altText ?: 'Alt text' }}'/>
        </picture>
    {% endblock %}
{% endblock %}

{% block content %}
    {{ post.content }}
{% endblock %}

