.news-post {
    &__title {
        @include tertiaryTitle;
    }

    &__date {
        @include detail;
        margin: 16px 0;
    }

    &__summary {
        @include richText;
        @include headline3;
    }
}
