<{{ fields.element | default('div')}} class="link-with-icon">
    <a class="link-with-icon__link" href="{{ fields.linkUrl }}">
        <span class="link-with-icon__icon">
            {% include 'bits/color-circle-icon/color-circle-icon.twig' with {
                icon: fields.icon
            }%}
        </span>
        <span class="link-with-icon__text">
            {{ fields.linkText }}
        </span>
    </a>
</{{ fields.element | default('div') }}>
