.link-with-icon {
    --linkTextColor: #{$charcoalLight};
    --linkTextColorActive: darkOrange;

    align-items: center;
    display: inline-flex;
    padding-bottom: 12px;
    width: 100%;

    &__icon {
        flex-shrink: 0;
    }

    &__link {
        align-items: center;
        display: flex;
        text-decoration: none;

        &:focus,
        &:hover,
        &:active {
            .link-with-icon__text {
                color: var(--linkTextColorActive);
            }
        }
    }

    &__text {
        @include headline2;
        color: var(--linkTextColor);
        margin-left: 16px;
    }
}




