<div class="text">
    {% if component.imageToggle %}
        <div class="text__image text__image--{{ component.placement }} text__image--{{ component.width }}">
            <img class="captioned-image__image" loading="lazy" src="{{ component.image.src|resize(500) }}" alt="{{ component.image.altText }}">
            {%  if component.image.caption %}
                <figcaption class="captioned-image__caption captioned-image__caption--{{ background }}">
                    {{ component.image.caption }}
                </figcaption>
            {% endif %}
        </div>
    {% endif %}

    <div class="text__content ">
        <h2 class="text__header  {{ component.hideHeader ? 'text__header--is-hidden' : '' }}">
            {{ component.header }}
        </h2>
        {{ component.richText }}
    </div>

    {% if component.imageToggle %}
        <div class="text__mobile-image">
            <img class="captioned-image__image" loading="lazy" src="{{ component.image.src|resize(500) }}" alt="{{ component.image.altText }}">
            {%  if component.image.caption %}
                <figcaption class="captioned-image__caption captioned-image__caption--{{ background }}">
                    {{ component.image.caption }}
                </figcaption>
            {% endif %}
        </div>
    {% endif %}
</div>
