.link-cards {
    @include componentWithMargin;
    --card-background-color: #{$white};
    --card-border-color: #{$charcoal};
    --card-heading-text-color: #{$charcoalLight};
    --card-heading-text-color-focused: #{$black};
    --card-description-text-color: #{$grayDarkest};

    &__introduction {
        margin-bottom: 48px;
    }

    &__heading {
        @include headline2;

        &:not(:last-child) {
            margin-bottom: 8px;
        }

        &--is-hidden {
            @include invisibleShowFocused;
        }
    }

    &__description {
        @include body;
    }

    &__cards {
        display: grid;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
        list-style: none;
        @media (min-width: 883px) {
            grid-template-columns: repeat(auto-fit, minmax(336px, 1fr));
        }
    }

    &__card {
        background-color: var(--card-background-color);
    }

    &__card-text {
        padding: 24px;
    }

    &__card-heading {
        @include linkHeadline3;
        color: var(--card-heading-text-color);
        margin-bottom: 8px;
    }

    &__card-description {
        @include bodySmall;
        color: var(--card-description-text-color);
    }

    &__image {
        object-fit: cover;
        width: 100%;
    }
}
