{#
/**
 * Block Name: Example block
 *
 * This is the template that displays the example block.
 */
#}

<div class="link-cards"
    data-cy="link-cards">
    <div class="link-cards__introduction">
        <h2 class="link-cards__heading"
            data-cy="link-cards__heading">
            {{ fields.header }}
        </h2>
        {% if fields.showDescription %}
            <div class="link-cards__description"
                 data-cy="link-cards__description">
                {{ fields.description }}
            </div>
        {% endif %}
    </div>
    <ul class="link-cards__cards">
        {{ content }}
        {% for item in fields.innerBlocks.cards  %}
            {% include 'blocks/link-card/link-card.twig' with item %}
        {% endfor %}
    </ul>
</div>
