.main-navigation {
    --itemLinkIconColor: #{$charcoal};
    --itemLinkTextColor: #{$charcoal};
    --itemLinkBorderColorActive: #{$smokeDarkest};
    --itemLinkBorderColorFocus: #{$charcoal};

    @media (max-width: $breakpointHeaderLarge) {
        display: none;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        margin-bottom: -11px;
    }

    &__item {
        &:not(:last-child) {
            margin-left: .5rem;
        }

        &:not(:first-child) {
            margin-right: .5rem;
        }
    }

    &__item-link {
        @include headline5;
        align-items: center;
        color: var(--itemLinkTextColor);
        display: flex;
        font-size: 1.25rem;
        padding: .625rem 1rem;
        position: relative;
        text-decoration: none;
        transition: all 0.2s;
        white-space: nowrap;
        border-bottom: .25rem solid transparent;

        & .main-navigation__item-link-icon svg {
            position: relative;
            top: -3px;
            transform: rotate(0);
            transition: transform 200ms ease-in-out;
        }

        &:focus,
        &:hover,
        &:active,
        &[aria-expanded=true] {
            z-index: 2;

            & .main-navigation__item-link-icon svg {
                transform: rotate(-90deg);
            }
        }

        &--active {
            border-bottom: .25rem solid var(--itemLinkBorderColorActive);
        }

        &:focus,
        &:hover {
            border-bottom: .25rem solid var(--itemLinkBorderColorFocus);
        }
    }

    &__item-link-icon-container {
        align-items: center;
        display: inline-flex;
        margin-left: .5rem;
        width: .5rem;

        & .down-toggle-icon__shape {
            fill: var(--itemLinkIconColor);
        }
    }
}

.mega-menu {
    --backgroundColor: #{$charcoal};
    --itemBackgroundColor: #{$charcoalDark};
    --itemBackgroundColorFocus: #{$white};
    --itemLinkIconColor: #{$white};
    --itemTextColorFocus: #{$charcoal};

    background-color: var(--backgroundColor);
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    opacity: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    transition: all 0.2s;

    &:before,
    &:after {
        background-color: var(--backgroundColor);
        bottom: 0;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 100vw;
    }

    &:before {
        right: 100%;
    }

    &:after {
        left: 100%;
    }

    &__container {
        @include contentContainer;
        & {
            display: flex;
        }
    }

    &__title {
        margin-right: 3rem;
        width: 25rem;
    }

    &__title-line {
        margin-bottom: 1rem;
    }

    &__title-text-link-icon {
        display: inline-block;
        transition: all 0.3s;

        & svg {
            transform: rotate(-90deg);
        }

        & .down-toggle-icon__shape {
            fill: var(--itemLinkIconColor);
        }
    }

    &__title-text-link {
        @include headline2;
        text-decoration: none;
        color: white;

        &:focus,
        &:hover,
        &:active {
            .mega-menu__title-text-link-icon {
                transform: translate(.25rem, 0);
            }
        }
    }

    &__list {
        column-count: 2;
        column-gap: .5rem;
        flex: 1;
    }

    &__item {
        background-color: var(--itemBackgroundColor);
        break-inside: avoid;
        margin-bottom: .5rem;
    }

    &__item-link {
        color: $white;
        padding: 1rem;
        text-decoration: none;
        display: block;
        transition: all 0.3s;

        &:focus,
        &:hover,
        &:active {
            background-color: var(--itemBackgroundColorFocus);
            color: var(--itemTextColorFocus);
        }

        &--active,
        &--active-trail {
            border-left: .25rem solid white;
        }
    }

    &[data-active=true] {
        z-index: 2;
        opacity: 1;
        display: block;
    }
}
