{% embed 'templates/person-card/person-card.twig' %}
    {% block image %}
        <picture class="profile-card__picture">
            <source srcset="{{ person.featuredImage.src | resize(880, 560) | towebp }}" type="image/webp">
            <source srcset="{{ person.featuredImage.src | resize(880, 560) | tojpg }}" type="image/jpeg">
            <img class="profile-card__image" src="{{ person.featuredImage.src | resize(260, 160) }}"
                 data-cy="profile-card__image" width="260" height="160" alt='{{ person.featuredImage.altText ?: 'Alt text' }}'/>
        </picture>
    {% endblock %}
    {% block info %}
        <div class="profile-card__title">
            {% include 'bits/card-title/card-title.twig' with {
                url: person.permalink,
                text: person.fullName,
                background: background,
            } %}
        </div>
        {% if person.titles %}
        <div class="profile-card__current">
            <div class="profile-card__titles">
                {{ person.titles }}
                {% if person.title2 %}
                    <br>{{ person.title2 }}
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% if person.emailAddress or person.phoneNumber %}
        <div class="profile-card__contact">
            {% if person.emailAddress %}
            <div class="profile-card__contact-email">
                <a href="mailto:{{ person.emailAddress }}" class="profile-card__contact-email-link">
                    {{ person.emailAddress }}
                </a>
            </div>
            {% endif %}
            {% if person.phoneNumber %}
            <div class="profile-card__contact-phone">
                <a href="tel:{{ person.phoneNumber }}" class="profile-card__contact-phone-link">
                    {{ person.phoneNumber }}
                </a>
            </div>
            {% endif %}
        </div>
        {% endif %}
    {% endblock %}
{% endembed %}
