.profile-card {
    &__title {
        margin-bottom: .5rem;

        a {
            @include headline2;
            color: var(--cardTitleColor);
        }
    }

    &__current {
        margin-top: .25rem;
    }

    &__titles {
        font-size: 1rem;
        font-weight: 400;
        color: var(--cardJobTitleColor);
    }

    &__contact {
        margin-top: 1rem;
    }

    &__contact-email,
    &__contact-phone {
        margin-bottom: 6px;
    }

    &__contact-email-link,
    &__contact-phone-link {
        @include hypertext;
        & {
            text-decoration: none;
            color: var(--cardContactInfoColor);
            font-size: 1rem;
            display: inline-block;
        }
    }
}
