@import '../scss/main.scss';


$colors: (
        "navy": $navy,
        "aqua": $aqua,
        "gold": $gold,
        "coral": $coral,
        "aquaDark": $aquaDark,
        "charcoalDark": $charcoalDark,
        "charcoal": $charcoal,
        "charcoalLight": $charcoalLight,
        "charcoalLighter": $charcoalLighter,
        "charcoalLightest": $charcoalLightest,
        "gray": $gray,
        "grayDark": $grayDark,
        "grayDarker": $grayDarker,
        "grayDarkest": $grayDarkest,
        "smoke": $smoke,
        "smokeDark": $smokeDark,
        "smokeDarker": $smokeDarker,
        "smokeDarkest": $smokeDarkest,
        "black": $black,
        "white": $white,
);

@each $name, $value in $colors {
    .background-#{$name} {
        background-color: $value;
    }
}

.style-table {
    display: flex;
    flex-direction: row;
    grid-gap: 2rem;
}

.color-data {
    @include detail;
    font-size: 14px;

    &__hexCode {
        color: $charcoalLightest;
        font-style: italic;
    }
}

.color-square {
    width: 150px;
    height: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
