@import '../scss/main.scss';

.Prose {
    max-width: 100em;
}

.billboard {
    @include billboardTitle;
}

.headline1 {
    @include headline1;
}

.headline2 {
    @include headline2;
}

.headline3 {
    @include headline3;
}

.headline4 {
    @include headline4;
}

.headline5 {
    @include headline5;
}

.body {
    @include body;
}

.bodyLarge {
    @include bodyLarge;
}

.bodySmall {
    @include bodySmall;
}

.detail {
    @include detail;
}

.detailBold {
    @include detail;
    font-weight: 800;
}

.label {
    @include label;
}

.labelSmall {
    @include labelSmall;
}

.linkHeadline3 {
    @include headline3;
}

.linkHeadline4 {
    @include headline4;
}

.linkHeadline5 {
    @include headline5;
}

.linkHeadline6 {
    @include headline6;
}

.linkBodyLarge {
    @include linkLarge;
}

.linkBody {
    @include linkBase;
}

.linkBodySmall {
    @include linkSmall;
}
