.small-main-navigation-toggle {
    --buttonBackgroundColor: #{$white};
    --collapsedTextColor: #{$charcoal};
    --expandedTextColor: #{$charcoal};
    --iconFillColor: #{$charcoal};

    align-items: center;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    position: relative;

    @media (min-width: $breakpointHeaderLarge) {
        display: none;
    }

    &__text {
        @include headline5;
        color: var(--collapsedTextColor);
        flex: 1;
        margin-right: .5rem;
    }

    &__icon {
        transition: all 0.3s;
        margin-bottom: -2px;

        & .x__shape,
        & .menu__shape {
            fill: var(--iconFillColor);
        }
    }

    &[aria-expanded=true] {
        z-index: 2;
        position: relative;
        background-color: var(--buttonBackgroundColor);

        & .small-main-navigation-toggle__content-container--expanded {
            display: block;
        }

        & .small-main-navigation-toggle__content-container--collapsed {
            display: none;
        }
    }

    &[aria-expanded=false] {
        & .small-main-navigation-toggle__content-container--expanded {
            display: none;
        }

        & .small-main-navigation-toggle__content-container--collapsed {
            display: block;
        }
    }

    &[aria-expanded=true] {
        & .small-main-navigation-toggle__text {
            color: var(--expandedTextColor);
        }
    }
}

.small-main-navigation {
    --activeBackgroundColor: #{$white};
    --backgroundColor: #{$charcoal};
    --iconFillColor: #{$white};
    --iconFillColorActive: #{$charcoal};
    --itemBackgroundColor: #{$charcoalDark};
    --itemBackgroundColorActive: #{$white};
    --itemTextColorActive: #{$charcoal};

    background-color: var(--backgroundColor);
    display: none;
    width: 100%;

    @media (min-width: $breakpointHeaderLarge) {
        display: none;
    }

    @supports (display: grid) {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: -1;
        opacity: 0;
    }

    &__list {
        padding: 1rem;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__item-container {
        display: flex;
    }

    &__item-link {
        @include headline5;
        color: white;
        display: block;
        text-decoration: none;
        background-color: var(--itemBackgroundColor);
        padding: .75rem 1rem;
        flex: 1;
        transition: all 0.3s;

        &--active,
        &--active-trail {
            border-left: .25rem solid var(--itemBackgroundColorActive);
        }

        &:focus,
        &:hover,
        &:active {
            background-color: var(--itemBackgroundColorActive);
            color: var(--itemTextColorActive);

            & .small-main-navigation__item-link-icon {
                transform: translateX(.25rem);

                & .right-chevron__shape {
                    fill: var(--iconFillColorActive);
                }
            }
        }
    }

    &__item-link-icon {
        display: inline-block;
        margin-left: .5rem;
        transition: all 0.3s;

        & .right-chevron__shape,
        & .down-toggle-icon__shape {
            fill: var(--iconFillColor);
        }
    }

    &__item-toggle {
        align-items: center;
        background-color: var(--itemBackgroundColor);
        cursor: pointer;
        display: flex;
        flex: 0 0 3.5rem;
        justify-content: center;
        margin-left: 2px;
        transition: all 0.3s;

        &:focus,
        &:hover,
        &:active {
            background-color: var(--activeBackgroundColor);

            & .down-toggle-icon__shape {
                fill: var(--iconFillColorActive);
            }
        }

        &[aria-expanded=true] {
            & .down-toggle-icon {
                transform: rotate(180deg);

                & .down-toggle-icon__shape {
                    fill: var(--iconFillColorActive);
                }
            }
        }

        &[aria-expanded=true] {
            background-color: var(--activeBackgroundColor);
        }
    }

    &__item-toggle-icon {
        width: 1rem;

        & .down-toggle-icon__shape,
        & ._mark {
            fill: white;
        }
    }

    &__children {
        margin-top: 2px;
        margin-bottom: 1rem;
        display: none;

        &[data-active=true] {
            display: block;
        }
    }

    &__children-item:not(:last-child) {
        margin-bottom: 2px;
    }

    &__children-item-link {
        color: white;
        background-color: var(--itemBackgroundColor);
        padding: 1rem 2rem;
        display: block;
        text-decoration: none;
        transition: all 0.3s;

        &--active,
        &--active-trail {
            border-left: .25rem solid white;
        }

        &:focus,
        &:hover,
        &:active {
            background-color: var(--itemBackgroundColorActive);
            color: var(--itemTextColorActive);
        }
    }

    &__search {
        background-color: var(--itemBackgroundColor);
        padding: 1rem;

        @media (min-width: $breakpointHeaderSmall) {
            display: none;
        }
    }
}

.small-main-navigation {
    &[data-collapsing] {
        animation: slideOut 0.5s;
    }

    &[data-expanding] {
        z-index: 2;
        animation: slideIn 0.5s;
    }

    &[data-expanded=true] {
        z-index: 2;
        opacity: 1;
        display: block;
    }
}
