$breakpoint: 43.75rem;

.pager {
    --buttonBackgroundColor: transparent;
    --buttonBackgroundColorFocused: #{$charcoal};
    --buttonBackgroundColorDisabled: transparent;
    --buttonBorderColor: #{$charcoal};
    --buttonBorderColorFocused: #{$charcoal};
    --buttonBorderColorDisabled: #{$gray};
    --buttonTextColor: #{$charcoalLight};
    --buttonTextColorFocused: #{$white};
    --buttonTextColorDisabled: #{$gray};
    --buttonIconColor: #{$gold};
    --buttonIconColorFocused: #{$white};
    --buttonIconColorDisabled: #{$gray};
    --pageBackgroundColor: #{$smoke};
    --pageBackgroundColorFocused: #{$charcoal};
    --pageBorderColor: #{$charcoal};
    --pageBorderColorFocused: #{$charcoal};
    --pageTextColor: #{$charcoal};
    --pageTextColorFocused: #{$white};
    --currentBackgroundColor: #{$charcoal};
    --currentBorderColor: #{$charcoal};
    --currentTextColor: #{$white};
    --ellipsisColor: #{$charcoal};

    color: $charcoal;
    font-size: 1.25rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;

    @media (max-width: $breakpoint) {
        flex-wrap: wrap;
    }

    &__prev-container,
    &__next-container {
        margin-bottom: 1rem;
        flex-shrink: 0;

        @media (max-width: $breakpoint) {
            order: 1;
        }
    }

    &__page-current {
        background-color: var(--currentBackgroundColor);
        color: var(--currentTextColor);
    }

    &__page-link {
        background-color: var(--pageBackgroundColor);
        color: var(--pageTextColor);
    }

    &__page-link {
        border: 2px solid var(--pageBorderColor);
    }

    &__page-link,
    &__page-current {
        padding: 0 .5rem;
    }

    &__page-ellipses {
        color: var(--ellipsisColor);
    }

    &__prev,
    &__next,
    &__page-link,
    &__page-current {
        border-radius: .5rem;
        display: flex;
        justify-content: center;
        line-height: 2em;
        min-width: 2.2em;
    }

    &__prev,
    &__next,
    &__page-current {
        border: 2px solid var(--buttonBorderColor);
    }

    &__prev,
    &__next,
    &__page-link {
        text-decoration: none;
        transition: all 0.3s;

        &:active,
        &:focus,
        &:hover {
            background-color: var(--pageBackgroundColorFocused);
            border: 2px solid var(--pageBorderColorFocused);
            color: var(--pageTextColorFocused);
        }
    }

    &__prev,
    &__next {
        padding: 0 1.25rem;

        &-icon {
            display: inline-block;
            transition: all 0.3s;
            transform: translate(0, 2px);
        }
    }

    &__prev,
    &__next {
        background-color: var(--buttonBackgroundColor);
        color: var(--buttonTextColor);

        & ._mark {
            fill: var(--buttonIconColor);
        }

        &:active,
        &:focus,
        &:hover {
            background-color: var(--buttonBackgroundColorFocused);
            color: var(--buttonTextColorFocused);

            & .pager__next-icon,
            & .pager__prev-icon {
                & ._mark {
                    fill: var(--buttonIconColorFocused);
                }
            }
        }
    }

    &__next {
        &-icon {
            margin-left: .5rem;
        }
    }

    &__next {
        &:active,
        &:focus,
        &:hover {
            & .pager__next-icon {
                transform: translate(.25rem, 2px);
            }
        }
    }

    &__prev {
        &-icon {
            margin-right: .5rem;
        }
    }

    &__prev {
        &:active,
        &:focus,
        &:hover {
            & .pager__prev-icon {
                transform: translate(-.25rem, 2px);
            }
        }
    }

    &__prev--inactive,
    &__next--inactive {
        background-color: var(--buttonBackgroundColorDisabled);
        border-color: var(--buttonBorderColorDisabled);
        color: var(--buttonTextColorDisabled);

        & ._mark {
            fill: var(--buttonIconColorDisabled);
        }
    }

    &__pages {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media (min-width: $breakpoint) {
            flex-grow: 1;
        }

        @media (max-width: $breakpoint) {
            justify-content: center;
            width: 100%;
        }
    }

    &__page {
        margin: 0 .5rem 1rem .5rem;
    }
}
