{% extends 'templates/base.twig' %}
{% block content %}
    <div class="error {{ is_wordpress ? 'error--site' : '' }}">
        <div class="error__gutterize">
            <div
                class="error__header {{ narrow|default ? "error__header--narrow" : "" }}">
                {% if breadcrumbs %}
                    <div class="error__breadcrumbs">
                        {% include 'partials/navigation/breadcrumbs/breadcrumbs.twig' %}
                    </div>
                {% endif %}
                <h1 class="error__title">{{ error.title }}</h1>
                {% if error.code|default %}
                    <div class="error__code">{{ error.code }}</div>
                {% endif %}
            </div>
            <div class="error__content">
                <p class="error__text">
                    {{ error.suggestion }}
                </p>
                <ul class="error__links">
                    {% include 'bits/standard-button/standard-button.twig' with {
                        button: {
                            url: error.linkOne.url,
                            text: error.linkOne.text
                        }
                    } %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

