.error {
    padding-bottom: 22rem;
    background-color: $smokeDark;

    &__header {
        @include contentContainerInterior;
    }

    &__breadcrumbs {
        padding-top: $contentPaddingLarge;
    }

    &__title {
        @include headline1;
        margin-bottom: 1rem;
        margin-top: 3rem;
    }

    &__code {
        @include headline2;
        margin-bottom: 2rem;
    }

    &__gutterize {
        @include contentContainer;

        & {
            text-align: center;
        }
    }

    &__text {
        @include bodyLarge;
        margin-bottom: 2.5rem;
    }

    &__links {
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: center;
    }
}
