<div class="directory">
    {% embed "templates/listing-content/listing-content.twig" with {
        withCards: true,
    } %}
        {% block filter %}
            {% include 'partials/taxonomy-filter/taxonomy-filter.twig' with {
                includeSearch: true
            } %}
        {% endblock %}
        {% block content %}
            {% if post.list | length > 0 %}
                <div class="directory__listing">
                    {% for person in post.list %}
                        {% include 'partials/profile-card/profile-card.twig' %}
                    {% endfor %}
                </div>
            {% else %}
                {% include 'partials/empty-listing-error/empty-listing-error.twig' %}
            {% endif %}
        {% endblock %}
    {% endembed %}
</div>
