$cardImageBreakpoint: $largeDeviceBreakpoint;

.card-with-image {
    --cardBackgroundColor: #{$charcoalLightest};
    --cardBorderColor: #{$charcoal};
    --cardTitleColor: #{$charcoalLight};
    --cardDateColor: #{$grayDarkest};

    align-items: center;
    background-color: var(--cardBackgroundColor);
    border: 2px solid var(--cardBorderColor);
    display: flex;
    margin-bottom: 16px;

    &__content {
        flex: 1;
        margin: 0;

        @media (min-width: $cardImageBreakpoint) {
            display: flex;
        }
    }

    &__image {
        display: none;
        margin: 0;
        max-width: 320px;

        @media (min-width: $cardImageBreakpoint) {
            display: block;
            flex: 0 0 36%;
        }
    }
}
