<div class="news-listing">
    {% embed "templates/listing-content/listing-content.twig" with {
        withCards: true,
    } %}
        {% block filter %}
            {% include 'partials/taxonomy-filter/taxonomy-filter.twig' with {
                includeSearch: false
            } %}
        {% endblock %}
        {% block content %}
            {% if post.list | length > 0 %}
                {% for post in post.list %}
                    {% include 'partials/news/news-card/news-card.twig' %}
                {% endfor %}
            {% else %}
                    {% include 'partials/empty-listing-error/empty-listing-error.twig' %}
            {% endif %}
        {% endblock %}
    {% endembed %}
</div>
