.eyebrow-menu {
    --backgroundColor: #{$smoke};
    --itemFocusBackgroundColor: #{$charcoal};
    --itemFocusColor: #{$white};
    --itemTextColor: #{$grayDarkest};

    display: none;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;

    @media (min-width: $breakpointHeaderSmall) {
        display: flex;
        margin-bottom: 2rem;
    }

    &__item {
        margin-left: .5rem;
        margin-bottom: .5rem;
    }

    &__item-link {
        @include eyebrowPill;
        background-color: var(--backgroundColor);
        color: var(--itemTextColor);

        &--is-active,
        &:focus,
        &:hover,
        &:active,
        &:focus-within {
            background-color: var(--itemFocusBackgroundColor);
            color: var(--itemFocusColor);
        }
    }
}
