{% extends "templates/base.twig" %}

{% block header %}
    {% include 'partials/basic-header/basic-header.twig' %}
{% endblock %}

{% block content %}
    <div class="basic-page__content">
        {% embed "templates/listing-content/listing-content.twig" %}
            {% block content %}
                {{ dump(_context) }}
                {{ dump(search) }}
                <search>
                    <form role="search" method="get" id="searchform" action="{{ site.url }}">
                        <input type="text" value="{{ search.term }}" name="s" id="s" placeholder="Search">
                        <input type="submit" id="searchsubmit" value="Search">
                    </form>
                </search>

                <p>{{ search.count }} results for "<strong>{{ search.term }}</strong></p>

                {% if search.count > 0 %}
                    <ul>
                    {% for result in search.results %}
                        <li>
                            Highlighted Title: <a href="{{ result.link }}">{{ result.post_highlighted_title }}</a>
                            <br>
                            Highlighted Excerpt: {{ result.post_excerpt }}
                            <br>
                            Post Type: {{ result.post_type }}
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No results found</p>
                {% endif %}

                <p>[DEV NOTE: No pager. Limited to 20 results.]</p>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
