<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path fill="#FFF" fill-rule="evenodd" d="M13 2a1 1 0 0 1 .117 1.993L13 4H2v18h18V11a1 1 0 0 1 1.993-.117L22 11v13H0V2h13zm5 2l2 2L8.5 17.5 5 19l1.5-3.5L18 4zm4-4l2 2-3 3-2-2 3-3z"/>
</svg>
