<svg aria-label="File download" xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16">
    <path fill="#E84A27" d="M10 0l4 4v12H0V0h10zM9 2H2v12h10V5H9V2zm1 9v1H4v-1h6zm0-2v1H4V9h6zm0-2v1H4V7h6zM6 4v1H4V4h2z"/>
</svg>
