.color-circle-icon {
    --backgroundColor: darkOrange;
    --iconColor: white;

    align-items: center;
    background-color: var(--backgroundColor);
    border: 2px solid var(--borderColor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 48px;
    width: 48px;

    &__icon {
        display: flex;
    }

    &__icon > svg > path {
        fill: var(--iconColor);
    }
}

