<div class="news-mini">
    {% if fields.showTitle | default %}
        <h2 class="news-mini__title"
            id="{{ fields.title|sanitize }}">
            {{ fields.title }}
        </h2>
    {% endif %}
    <div class="news-mini__cards-grid">
        {% for post in fields.items %}
            <div class="news-mini__card">
                {% include 'partials/news/news-card/news-card.twig' %}
            </div>
        {% endfor %}
    </div>
    {% if fields.showCTALink | default %}
        <div class="news-mini__cta-container" data-cy="news-mini__cta-container"
            {{ fields.showCTALink ? 'data-show-cta="true"' : 'data-show-cta="false"' }}>
            {% include 'bits/standard-button/standard-button.twig' with {
                button: {
                    text: fields.linkText,
                    url: fields.linkUrl
                }
            } %}
        </div>
    {% endif %}
</div>
